@tailwind base;
@tailwind components;
@tailwind utilities;

/* PACKAGES */
@import "react-phone-number-input/style.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";
@import "swiper/css/effect-fade";

/* FONTS */
@font-face {
  font-family: "Inter-Black";
  src: url("../assets/fonts/Inter-Black.ttf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../assets/fonts/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter-Extrabold";
  src: url("../assets/fonts/Inter-ExtraBold.ttf");
}

@font-face {
  font-family: "Source-Bold";
  src: url("../assets/fonts/SourceSans3-Bold.ttf");
}

@font-face {
  font-family: "Source-Semibold";
  src: url("../assets/fonts/SourceSans3-SemiBold.ttf");
}

@font-face {
  font-family: "Source-Medium";
  src: url("../assets/fonts/SourceSans3-Medium.ttf");
}

@font-face {
  font-family: "Source-Regular";
  src: url("../assets/fonts/SourceSans3-Regular.ttf");
}

@font-face {
  font-family: "Source-Light";
  src: url("../assets/fonts/SourceSans3-Light.ttf");
}

@font-face {
  font-family: "Playfair-Display";
  src: url("../assets/fonts/PlayfairDisplay-Variable.ttf");
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 165vh !important;
  padding: 0vh 2vh !important;
  margin: auto;
}

/* HEADER SHADOW */
.header-shadow {
  box-shadow: 0px 3px 5px rgba(57, 63, 72, 0.2);
}

/* PHONE INPUT */
.phone .PhoneInputInput {
  font-size: 1.6vh;
  border: 1px solid #e5e5e5;
  padding: 1.3vh 2.1vh;
  border-radius: 6px;
  font-family: "Source-Regular", sans-serif;
}

.phone.error .PhoneInputInput {
  border: 1px solid #ef5350;
}

.phone .PhoneInputCountry {
  border: 1px solid #e5e5e5;
  padding: 1.3vh;
  border-radius: 6px;
}

/* SWIPER BUTTONS */
.swiper-button-prev {
  display: none;
}

.swiper-button-next {
  display: none;
}

.Toastify__toast {
  font-family: "Source-Regular", sans-serif;
  color: black;
  font-size: 1.6vh;
}
